body {
    background-color: rgb(175, 175, 175);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.chart-container {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(122, 122, 122);
    display: none;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    border-color: rgb(64, 64, 64);
    border-width: 15px;
    border-style: solid;
}

#chart {
    padding-right: 5px;
    padding-top: 5px;
    display: block;
}

.chart-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-chart-button {
    background-color: gray;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-color: rgb(64, 64, 64);
    border-width: 10px;
    border-style: solid;

    transition: opacity 0.3s;
}

#close-chart-button:hover {
    opacity: 0.7;
}

#price-text {
    font-size: 22px;
    position: absolute;
    top: 200px;
    right: 10px;
}

.token-buttons-row1,
.token-buttons-row2 {
    position: fixed;
    left: 0;
    top: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.token-buttons-row2 {
    left: 280px;
}

.token-button {
    background-color: black;
    color: rgb(64, 64, 64);
    border-color: rgb(64, 64, 64);
    border-width: 7px;
    border-style: solid;
    font-size: 40px;
    width: 200px;
    height: 150px;
    cursor: pointer;

    transition: opacity 0.2s;
}

.token-button:hover {
    opacity: 0.8;
}

.token-input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    padding: 50px 80px 30px 80px;
    row-gap: 10px;
}

.token-input {
    width: 200px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    font-size: 30px;

}

.search-token-text {
    font-size: 20px;
}

.token-input:focus {
    outline: none;
    box-shadow: none;
    background-color: rgb(237, 237, 237)
}

.wrong-token-text {
    font-size: 20px;
    color: red;
}

.github-icon {
    font-size: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: black;
    text-decoration: none;

    transition: opacity 0.3s;
}

.github-icon:visited {
    color: black;
}

.github-icon:hover {
    opacity: 0.7;
}

.github-icon:active {
    opacity: 0.5;
}

.redstone-api-text {
    position: absolute;
    top: 170px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    left: 50%;
    transform: translate(-50%);
}

.blur-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    backdrop-filter: blur(10px);
    opacity: 0; /* Początkowa przezroczystość */
    visibility: hidden; /* Początkowa widoczność */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Animacja dla opacity i visibility */
}