body {
    background-color: rgb(175, 175, 175);
}

.chart-container {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(122, 122, 122);
    visibility: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    border-color: rgb(64, 64, 64);
    border-width: 15px;
    border-style: solid;
}

#chart {
    padding-right: 5px;
    padding-top: 5px;
    display: block;
}

.chart-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-chart-button {
    background-color: gray;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-color: rgb(64, 64, 64);
    border-width: 10px;
    border-style: solid;
}

.token-buttons {
    position: fixed;
    left: 0;
    top: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.token-button {
    background-color: black;
    color: rgb(64, 64, 64);
    border-color: rgb(64, 64, 64);
    border-width: 7px;
    border-style: solid;
    font-family: Verdana;
    font-size: 40px;
    width: 200px;
    height: 150px;
    cursor: pointer;

    transition: opacity 0.2s;
}

.eth-button:hover,
.btc-button:hover,
.ar-button:hover {
    opacity: 0.8;
}