.chart-container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

#chart {
    padding-right: 5px;
    padding-top: 5px;
    display: block;
}

#close-chart-button {
    background-color: gray;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.eth-button,
.btc-button,
.ar-button {
    background-color: black;
    color: rgb(64, 64, 64);
    border-color: rgb(64, 64, 64);
    border-width: 4px;
    border-style: solid;
    font-family: Verdana;
    border-radius: 10px;
    font-size: 40px;
    padding: 10px 30px;
    cursor: pointer;

    transition: opacity 0.2s;
}

.eth-button:hover,
.btc-button:hover,
.ar-button:hover {
    opacity: 0.8;
}